
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <!--screamIt is a helper welcomeMessege is an argument 'parameter'-->
    <p>{{screamIt welcomeMessege}}</p>
    {{> footer}}
  </body>
</html>
